<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css') }}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body class="main-content">
    <header class="section sec1 header active" id="header">
            <div class="header-content">
                <div class="left-header">
                    <div class="h-shape"></div>
                    <div class="image">
                        <img src={{ url_for('static', filename="images/donkey.jpg")}} alt="">
                    </div>
                </div>
                <div class="right-header">
                    <h1 class="name">
                        I'm <span>Aidan Comer,</span>
                        An Aspiring Software Developer.
                    </h1>
                    <p>I am a highly motivated self-taught developer with a passion for all things technology. This website aims to serve as a developer profile and blog to document projects I have worked on, musings I have had, and my growth as a programmer. Take a look around!</p>
                    <div class="btn-con">
                        <a href="" class="main-btn">
                            <span class="btn-text">Download CV</span>
                            <span class="btn-icon"><i class="fa-solid fa-download"></i></span>
                        </a>
                    </div>
                </div>
            </div>
    </header>
    <main>

        <section class="section sec2 about" id="about">
            <div class="main-title">
                <h2>About <span>Me</span><span class="bg-text">About Me</span></h2>
            </div>
            <div class="about-container">
                <div class="left-about">
                    <h4>Information About Me</h4>
                    <p>Since writing my first lines of code two years ago I have become extremely passionate about programming and enthused by its potential. I am proficient at writing and testing clean, efficient code. While specialising in Python, I have developed understanding of other languages such as Javascript and C. I strive to keep learning and further develop my abilities as a programmer. </p>
                    <div class="btn-con">
                        <a href="" class="main-btn">
                            <span class="btn-text">Download CV</span>
                            <span class="btn-icon"><i class="fa-solid fa-download"></i></span>
                        </a>
                    </div>
                </div>
                
                <div class="right-about">
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">{{ portfolio_records|count }}</p>
                            <p class="small-text">Projects <br> Completed</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">48</p>
                            <p class="small-text">Github Contributions in the last year<br></p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">2</p>
                            <p class="small-text">years of programming experience<br></p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">3</p>
                            <p class="small-text">Programming Languages<br> Learned</p>
                        </div>
                    </div>
                </div>

            </div>
           
            <h4 class="stat-title">My Timeline</h4>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <p class="tl-duration">2015 - 2018</p>
                    <h5>BSc Marine Biology <span>- University of Liverpool</span></h5>
                    <p>Having had a strong interest in natural sciences and sustainability, pursuing an undergraduate degree in Marine Biology was a natural fit that allowed me to develop my understanding of the environment and our human place within that. Alongside this, I honed my ability to to think in a scientific, considerate and critical manner while also learning how to effectively collect, analyse, interpret and present data.</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <p class="tl-duration">2018 - 2019</p>
                    <h5>MSc Environment and Development <span>- University of Leeds</span></h5>
                    <p>To develop a more comprehensive and holistic understanding of sustainability with a stronger focus on social aspects, I pursued a Masters In Environment & Development. This gave me a greater appreciation for how sustainability relates to our political and economic landscape. Studying at this higher level greatly improved my ability to adapt quickly. Many modules studied required a significant prerequisite understanding that, because I had not studied these areas previously, meant I had to teach myself large amounts of content from a number of subject areas, such as economics, business and project management.</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <p class="tl-duration">2019 - 2022</p>
                    <h5>Waiter <span>- Côte Brasserie, Manchester</span></h5>
                    <p>While waiting tables was entirely unrelated to my prior studies, I am thankful for this time as it is when I developed my interest in programming. From struggling to write a blackjack program to making my first full-stack web application, this time was valuable for me in learning key concepts and developing my ability to ‘think like a programmer’.</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <p class="tl-duration">2022 - Present</p>
                    <h5>Chef de Partie <span>- Côte Brasserie, Manchester</span></h5>
                    <p>Moving into the kitchen at Côte has allowed me to indulge my other passion – cooking. While in this role I not only developed my culinary skills, but also my abilities to stay organised, work as a team and deal with intense pressure. In this time I have maintained my independent programming studies and pursued a greater depth of understanding to include other languages and computer science theory.</p>
                </div>
            </div>
        </section>
        <section class="section sec3" id="portfolio">
            <div class="main-title">
                <h2>My <span>Portfolio</span><span class="bg-text">My Portfolio</span></h2>
            </div>
            
            <p class="port-text">
                 Here is some work I've done in various programming languages.
            </p>
            <div class="portfolios">
                {% for post in portfolio_records %}
                    <div class="portfolio-item">
                        <div class="image">
                            <img src="{{ post.img_url }}" alt="Portfolio Item Should be Here">
                        </div>
                        <div class="hover-items">
                            <h3>{{ post.title }}</h3>
                            <div class="icons">
                                <a href="{{ post.github_url }}" target="_blank" class="icon">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a href="{{ url_for('show_portfolio', post_id=post.id) }}" target="_blank" class="icon">
                                    <i class="fa-regular fa-newspaper"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="section sec4" id="blogs">

            <div class="blogs-content main-title">
                <h2>My <span>Blogs</span><span class="bg-text">My Blogs</span></h2>
            </div>
            
            <div class="blogs">
                {% for blog in blog_records %}
                    <div class="blog">
                        <img src="{{ blog.img_url }}" alt="">
                        <div class="blog-text">
                            <h4><a href="{{ url_for('show_blog', post_id=blog.id)  }}">{{ blog.title }}</a></h4>
                            <p>{{ blog.subtitle }}</p>

                        </div>
                    </div>
                {% endfor %}
            </div>
            

        </section>
        <section class="section sec5 contact" id="contact">
            <div class="contact-container">
                <div class="main-title">
                    <h2>Contact <span>Me</span><span class="bg-text">Contact Me</span></h2>
                </div>
                <div class="contact-content-con">
                    <div class="left-contact">
                        <p class="contact-intro">Thanks for taking a look at my site! If you would like to get in touch my contact details are below. Alternatively, you can email me using the contact form also below. </p>
                        <div class="contact-info">
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fa-solid fa-map-pin"></i>
                                    Location:
                                </div>
                                <p>
                                Manchester, United Kingdom
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fa-solid fa-map-pin"></i>
                                    Email:
                                </div>
                                <p>
                                alhcomer@hotmail.co.uk
                                </p>
                                
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fa-solid fa-map-pin"></i>
                                    Contact Number:
                                </div>
                                <p>
                                +447341289369
                                </p>
                            </div>
                        </div>
                        <div class="contact-icons">
                            <div class="contact-icon">
                                <a href="www.linkedin.com">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                                <a href="www.github.com">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="right-contact">
                        <form action="{{ url_for('home') }}" class="contact-form" method=post>
                            <div class="input-control i-c-2">
                                {{ contact_form.name(class="input", placeholder="Your Name") }}
                                {{ contact_form.email(class="input", placeholder="Your Email") }}
                            </div>
                            <div class="input-control">
                                {{ contact_form.subject(class="input", placeholder="Enter Subject") }}
                            </div>
                            <div class="input-control">
                                {{ contact_form.body(class="input", placeholder="Enter Message Here", 
                                cols="15", rows="8") }}
                            </div>
                            <div class="btn-con">
                                {{ contact_form.submit(class="submit-btn") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    
    <div class="controls">
        <div class="control control1-1 active-btn" data-id="header">
            <i class="fa-solid fa-house"></i>
        </div>

        <div class="control control1-2" data-id="about">
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="control control1-3" data-id="portfolio">
            <i class="fa-solid fa-laptop-file"></i>
        </div>

        <div class="control control1-4" data-id="blogs">
            <i class="fa-solid fa-newspaper"></i>
        </div>

        <div class="control control1-5" data-id="contact">
            <i class="fa-solid fa-square-envelope"></i>
        </div>
    </div>
    <div class="theme-btn">
        <i class="fa-solid fa-circle-half-stroke"></i>
    </div>
    <script src={{ url_for('static', filename="js/app.js")}}></script>
</body>
</html>